<div id="detail">
  <sign></sign>
  <div class="detail-body">
    <div>
      <img ng-src="../{{bdCtrl.book.coverImage}}" alt="">
    </div>
    <ul class='book-detail' ng-hide="bdCtrl.isAdd">
      <li>{{bdCtrl.book.title}}</li>
      <li> 
          <span ng-repeat="author in bdCtrl.book.authorList">{{author}} </span>
       </li>
      <li>${{bdCtrl.book.price}}</li>
      <li>{{bdCtrl.book.publisher}}</li>
      <li>{{bdCtrl.book.date}}</li>
      <li>{{bdCtrl.book.description}}</li>
    </ul>
    <div ng-hide="bdCtrl.isAdd">
      <p>
        <span>Quantity:</span>
        <input type="number" ng-model="bdCtrl.quantity">
      </p>
      <button ng-click="bdCtrl.addToCart(bdCtrl.book._id)">Add to Cart</button>
    </div>
    <div ng-show="bdCtrl.isAdd" class="isAdd">
      <h3>Add To Cart</h3>
      <h4>Cart subtotal ({{bdCtrl.totalNum}}item(s)):${{bdCtrl.totalPrice}}</h4>
    </div>
  </div>
  <div class="detail-footer cart"> 
    <button href="" ng-hide="bdCtrl.isAdd"  ng-click="bdCtrl.goback()">go back</button>
    <button href="#!/" ng-show="bdCtrl.isAdd" >continue browsing</button>
  </div>
</div>