<div id="detail">
  <sign></sign>
  <div class="detail-body">
    <div>
      <img ng-src="../{{bdCtrl.book.coverImage}}" alt="">
    </div>
    <ul class='book-detail'>
      <li>{{bdCtrl.book.title}}</li>
      <li> 
          <span ng-repeat="author in bdCtrl.book.authorList">{{author}} </span>
       </li>
      <li>${{bdCtrl.book.price}}</li>
      <li>{{bdCtrl.book.publisher}}</li>
      <li>{{bdCtrl.book.date}}</li>
      <li>{{bdCtrl.book.description}}</li>
    </ul>
    <div>
      <p>
        <span>Quantily:</span>
        <input type="number">
      </p>
      <button>Add to Cart</button>
    </div>
  </div>
  <div class="detail-footer cart" ng-click="bdCtrl.goback()"> 
    <a >go back</a>
  </div>
</div>