<di>
  <sign></sign>
  <div id="books">
    <div id="pageLeft">
      <ul>
        <li>
          <a  
          href="javascript:;"
          ng-click="hmCtrl.loadPage('Computer',1)"
          >Computer</a>
        </li>
        <li>
          <a href="javascript:;"
          ng-click="hmCtrl.loadPage('History',1)"
          >History</a>
        </li>
        <li>
          <a href="javascript:;"
            ng-click="hmCtrl.loadPage('Literature',1)"
          >Literature</a>
        </li>
      </ul>
    </div>
    <ul id="pageRight">
      <li ng-repeat="book in hmCtrl.showBooks">
        <a href="#!/bookdetail">
          <img ng-src="../{{book.coverImage}}">
        </a>
        <p>{{book.title}}</p>
        <p>
          <span ng-repeat="author in book.authorList">{{author}} </span>
        </p>
        <p>${{book.price}}</p>
      </li>
    </ul>
  </div>
  <div id="pageFooter">
    <a href="javascript:;" ng-click=" hmCtrl.togglePage(false)">&lt;Previous Page</a>
    <div>
      <span>page</span>
      <select ng-model="hmCtrl.page" ng-change="hmCtrl.loadPage(hmCtrl.category,hmCtrl.page)">
        <option ng-repeat="r in hmCtrl.range" ng-value="r" >{{r}}</option>
      </select>
      <span>of {{hmCtrl.totalPage}}</span>
    </div>
    <a href="javascript:;" ng-click=" hmCtrl.togglePage(true)">Next Page&gt;</a>
  </div>
  </div>