<div id="detail">
  <div class="detail-body">
    <div>
      <img src="../../../images/cleancode.png" alt="">
    </div>
    <ul>
      <li>{{$ctrl.book.title}}</li>
      <li>{{$ctrl.book.author}}</li>
      <li>{{$ctrl.book.price}}</li>
      <li>{{$ctrl.book.publlsher}}</li>
      <li>{{$ctrl.book.publishDate}}</li>
      <li>{{$ctrl.book.description}}</li>
    </ul>
    <div>
      <p>
          <span>Quantily:</span>
          <input type="number">
      </p>
      <button>Add to Cart</button>
    </div>
  </div>
  <div class="detail-footer">

  </div>
</div>