#app{
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

#sign{
  width:20%;
}
#books{
  display: flex;
  flex-wrap: wrap;
}

#pageLeft{
  width: 20%;
}
#pageLeft a:focus{
  color: blue
}
#pageRight{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 780px;
  overflow: auto;
}
#pageRight>li{
  margin: 10px;
  width: 20%;
}

#pageFooter{
  width:100%;
  height: 80px;
}
#pageFooter>div{
  display: inline-block;
}
#pageFooter input{
  width: 40px;
}

.detail-body{
  display: flex;
  justify-content: space-between;
}
.detail-body>div{
  margin: 0 10%;
}

.detail-body input{
  width: 50px;
}

#login{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 300px;
}
#login>p{
  margin: 30px;
}

.bookItem {
  display: flex;
  justify-content: space-between;
}

.sign>a{
  color: blue;
}
.cart{
  border: 1px solid blue;
  padding: 3px 5px;
}
.active>a{
  color: blue;
}

/*******通用样式**********/
.flex-space-between{
  display: flex;
  justify-content: space-between
}
.li-inline>li{
  display: inline-block;
}
a:hover{
  text-decoration: none;
}
