/*****reset   start*******/
  /* 清除内外边距 */
  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
  dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
  pre, /* text formatting elements 文本格式元素 */
  fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
  th, td { /* table elements 表格元素 */
      margin: 0;
      padding: 0;
  }
  /* 重置列表元素 */
  ul, ol { list-style: none; }
  /* 重置文本格式元素 */
  a { text-decoration: none; color: #000}
  a:hover { text-decoration: underline; }
/*******reset end*************/
#app{
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

#sign{
  width:20%;
}
#books{
  display: flex;
  flex-wrap: wrap;
}

#pageLeft{
  width: 20%;
}
#pageLeft a:focus{
  color: blue
}
#pageRight{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 780px;
  overflow: auto;
}
#pageRight>li{
  margin: 10px;
  width: 20%;
}

#pageFooter{
  width:100%;
  height: 80px;
}
#pageFooter>div{
  display: inline-block;
}
#pageFooter input{
  width: 40px;
}

.detail-body{
  display: flex;
  justify-content: space-between;
  height: 680px;
}
.detail-body>div{
  margin: 0 10%;
}

.detail-body input{
  width: 50px;
}

#login{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 300px;
}
#login>p{
  margin: 30px;
}
.book-detail>li{
  margin: 10px;
}
.book-detail>li:first-child{
  font-size: 20px;
  font-weight: bold
}
.book-detail>li:nth-child(3){
  color: green;
  font-size: 17px;
}
.book-detail>li:last-child{
  border: 1px solid black;
}

.bookItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bookItem input{
  width:30%;
}
.bookItem>li{
  width: 25%;
}
.sign>a{
  color: blue;
}
.cart{
  border: 1px solid blue;
  padding: 3px 5px;
}
.cart-body{
  height: 680px;
}
.cart-title{
  margin: 20px;
  text-align: right;
}
.cart-title>li{
  width: 25%;
  margin-right: 5%;
}
.isAdd{
  margin: 100px auto;
}
.active>a{
  color: blue;
}

/*******通用样式**********/
.flex-space-between{
  display: flex;
  justify-content: space-between
}
.li-inline>li{
  display: inline-block;
}
a:hover{
  text-decoration: none;
}

.underline,.underline:hover {
  text-decoration: underline;
  color: dodgerblue;
  font-size: 18px;
}